 <section id="banner">
        <div class="inner">
            <div class="logo"><span class=""></span>

                <div class=" container flash_message">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div id="flash-messages">
                        {% for message in messages %}
                        <p class="flash">{{ message }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                </div>

            </div>
            <h2>Hey there! <br>I am Prashanna</h2>
            <p>A Computer Science Student. </p>
            <div class="SocialMediaIcons">
                <ul class="icons">
                    <li><a href="https://www.facebook.com/prashanna.raj.5" class="icon brands fa-facebook-f" rel="noopener noreferrer" aria-label="Visit Facebook Profile" ><span
                            class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/prashannaraj5950" class="icon brands fa-instagram" rel="noopener noreferrer" aria-label="Visit Instagram Profile"><span
                            class="label">Instagram</span></a></li>
                    <li><a href="https://www.linkedin.com/in/prashanna-raj-pandit-1576b7237/"
                           class="icon brands fa-linkedin-in" rel="noopener noreferrer" aria-label="Visit LinkedIn Profile" ><span class="label">LinkedIn</span></a></li>
                    <li><a href="https://github.com/Prashanna-Raj-Pandit" class="icon brands fa-github" rel="noopener noreferrer" aria-label="Visit Github Profile"><span
                            class="label">GitHub</span></a></li>
                </ul>

            </div>
            <ul class="actions">
                <li><a href="{{url_for('download')}}" target="_blank" class="button">Get Cv</a></li>
            </ul>
        </div>

    </section>