{% from "bootstrap5/form.html" import render_form %}


<section id="footer">
        <div class="inner">
            <h2 class="major">Get in touch</h2>
            <p>Feel free to contact me for any queries.</p>


            {{render_form(form)}}


            <!--							<form method="post" action="">-->

            <!--								<div class="fields">-->
            <!--									<div class="field">-->
            <!--										<label for="name">Name</label>-->
            <!--										<input type="text" name="name" id="name" />-->

            <!--									</div>-->
            <!--									<div class="field">-->
            <!--										<label for="email">Email</label>-->
            <!--										<input type="email" name="email" id="email" />-->
            <!--									</div>-->
            <!--									<div class="field">-->
            <!--										<label for="message">Message</label>-->
            <!--										<textarea name="message" id="message" rows="4"></textarea>-->
            <!--									</div>-->
            <!--								</div>-->
            <!--								<ul class="actions">-->
            <!--									<li><input type="submit" value="Send Message" /></li>-->
            <!--								</ul>-->


            <!--							</form>-->
            <ul class="contact">


                <li class="icon solid fa-envelope"><a>prashannaraj5@gmail.com</a></li>
                <li class="icon brands fa-facebook-f"><a href="https://www.facebook.com/prashanna.raj.5">facebook</a>
                </li>
                <li class="icon brands fa-instagram"><a href="https://www.instagram.com/prashannaraj5950">instagram</a>
                </li>
                <li class="icon brands fa-github"><a href="https://github.com/Prashanna-Raj-Pandit">Github</a></li>

                <li class="icon solid fa-home"><a>St.Louis, USA</a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Prashanna Raj Pandit. All rights reserved.</li>
            </ul>
        </div>
    </section>