<!DOCTYPE HTML>
<html>
<head>
    <link
            rel="shortcut icon"
            type="x-icon"
            href="static/images/mylogo.png"
    />
    <title>Prashanna</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="static/assets/css/main.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="index.html">Prashanna Raj Pandit</a></h1>

    </header>

    <!-- Menu -->

    <!-- Banner -->
    {% include "banner.html"%}

    <!-- Wrapper -->
    <section id="wrapper">

        <!-- One -->
        <section id="one" class="wrapper spotlight style1">
            <div class="inner">
                <a class="image"><img src="static/images/pic.png"  alt="research"/></a>
                <div class="content">
                    <h2>Experience</h2>
                    <p>Research Assistant at Southern Illinois University Edwardsville</p>
                    <p>Role: Feature extraction using video processing and the development of prediction models </p>
                    <h2 class="major">Research Interest</h2>

                    <ul>
                        Artificial Intelligence, Computer Vision, and its implementation in automation, pattern
                        recognition,
                        Intrusion detection, and computational biology.

                    </ul>
                    <div>
                        <h3>Publication</h3>
                        <h5>Automation of Driving License Test using Computer Vision and Image Processing</h5>
                        <p>Conference: International Conference on Technologies for Computer, Electrical, Electronics &
                            Communication (ICT-CEEL 2023)</p>
                        <ul><a href="https://ictceel.khwopaconference.com/uploads/conferencepaper/fullpaper/1037.pdf" target="_blank"
                               class="button">View paper</a></ul>
                    </div>

                </div>
            </div>
        </section>

        <!-- Two -->


        <section id="two" class="wrapper alt spotlight style2">
    <div class="inner">
        <a href="{{url_for('skills')}}" class="image">
            <img src="static/images/skils.webp" loading="lazy" alt="skills" />
        </a>
        <div class="content">
<!--            <h2 class="major">Skill and Interest Areas</h2>-->

            <!-- Programming Languages -->
            <div class="skills-section">
                <h3>Programming Languages</h3>
                <div class="skills-container">
                    <span class="skill-item">
                        <img src="static/images/python1.webp" loading="lazy" height="40px" width="40px" alt="Python" />
                        <span class="skill-label">Python</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/c1.webp" loading="lazy" height="45px" width="45px" alt="C" />
                        <span class="skill-label">C</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/cplus.webp" loading="lazy" height="40px" width="40px" alt="C++" />
                        <span class="skill-label">C++</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/R.png" loading="lazy" height="40px" width="40px" alt="R" />
                        <span class="skill-label">R</span>
                    </span>
                </div>
            </div>

            <!-- Frameworks -->
            <div class="skills-section">
                <h3>Libraries & Frameworks</h3>
                <div class="skills-container">
                    <span class="skill-item">
                        <img src="static/images/tf.png" loading="lazy" height="40px" width="40px" alt="TensorFlow" />
                        <span class="skill-label">TensorFlow</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/scikit-learn-logo.png" loading="lazy" height="40px" width="40px" alt="Scikit-Learn" />
                        <span class="skill-label">Scikit-Learn</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/keras.png" loading="lazy" height="40px" width="40px" alt="Scikit-Learn" />
                        <span class="skill-label">Keras</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/recent_work/flask.webp" loading="lazy" height="40px" width="40px" alt="Flask" />
                        <span class="skill-label">Flask</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/mat.png" loading="lazy" height="40px" width="40px" alt="Matplotlib" />
                        <span class="skill-label">Matplotlib</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/numpy.png" loading="lazy" height="40px" width="40px" alt="Numpy" />
                        <span class="skill-label">Numpy</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/pandas.png" loading="lazy" height="40px" width="40px" alt="Pandas" />
                        <span class="skill-label">Pandas</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/opencv.png" loading="lazy" height="40px" width="40px" alt="Open cv" />
                        <span class="skill-label">Open CV</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/yolo.png" loading="lazy" height="40px" width="40px" alt="YOLO" />
                        <span class="skill-label">YOLO</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/selinium.png" loading="lazy" height="40px" width="40px" alt="Selenium" />
                        <span class="skill-label">Selenium</span>
                    </span>
                </div>
            </div>

            <!-- Software -->
            <div class="skills-section">
                <h3>Software/Tools</h3>
                <div class="skills-container">
                    <span class="skill-item">
                        <img src="static/images/Pycharm_Icon.svg.png" loading="lazy" height="40px" width="40px" alt="Pycharm" />
                        <span class="skill-label">Pycharm</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/recent_work/postgres.webp" loading="lazy" height="40px" width="40px" alt="PostgreSQL" />
                        <span class="skill-label">PostgreSQL</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/Git.webp" loading="lazy" height="40px" width="40px" alt="Git" />
                        <span class="skill-label">Git</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/Colab.png" loading="lazy" height="40px" width="40px" alt="Colab" />
                        <span class="skill-label">Colab</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/linux.png" loading="lazy" height="40px" width="40px" alt="Linux" />
                        <span class="skill-label">Linux</span>
                    </span>
                    <span class="skill-item">
                        <img src="static/images/postman.png" loading="lazy" height="40px" width="40px" alt="Postman" />
                        <span class="skill-label">Postman</span>
                    </span>
                </div>
            </div>

            <a href="{{url_for('skills')}}" class="special">more</a>
        </div>
    </div>
</section>

        <!-- Four -->
<!--        <section id="four" class="wrapper alt style1">-->
<!--            <div class="inner">-->
<!--                <h2 class="major">Recent Activities</h2>-->
<!--                <section class="features">-->
<!--                    <article>-->
<!--                        <a class="image"><img src="static/images/conference.webp" loading="lazy" alt="ictceel"/></a>-->
<!--                        <h3 class="major">Attending Conference</h3>-->
<!--                        <p>Presenting our paper, “Automation of Driving License Test Using Computer Vision and Image-->
<!--                            Processing” at the esteemed International Conference on Technologies for Computer,-->
<!--                            Electrical, Electronics and Communication (ICT-CEEL 2023), organized by Khwopa Engineering-->
<!--                            College and Khwopa College of Engineering in collaboration with IEEE and IEEE PES, held from-->
<!--                            11th to 13th October.</p>-->
<!--                        &lt;!&ndash;											<a href="#" class="special">Learn more</a>&ndash;&gt;-->
<!--                    </article>-->
<!--                    <article>-->
<!--                        <a class="image"><img src="static/images/hackathon.webp" loading="lazy" alt="hackathon winner"/></a>-->
<!--                        <h3 class="major">attending hackathon</h3>-->
<!--                        <p>Our team, Vision Architects, attended a three-day All Nepal Hackathon in the e-governance-->
<!--                            category. Our project focused on improving the efficiency of the Department of Transport of-->
<!--                            Nepal by automating the driving license test for four-wheelers by using Computer Vision.</p>-->
<!--                        &lt;!&ndash;											<a href="#" class="special">Learn more</a>&ndash;&gt;-->
<!--                    </article>-->
<!--                    <article>-->
<!--                        <a class="image"><img src="static/images/uturn.webp" loading="lazy" alt="yolo object detection"/></a>-->
<!--                        <a class="image"><img src="static/images/recent_work/carsight_model_graph.webp" loading="lazy" alt=""/></a>-->
<!--                        <h3 class="major">Car and sidelight detection by Yolov5</h3>-->
<!--                        <p>Real-time detection of car and side light with custom object detection model by using-->
<!--                            YOLOv5</p>-->
<!--                        &lt;!&ndash;<a href="#" class="special">Learn more</a>&ndash;&gt;-->
<!--                    </article>-->
<!--                    <article>-->
<!--                        <a class="image" href="https://www.youtube.com/watch?v=6BYRCFqEbyg"><img src="static/images/IMG_0020.jpg" loading="lazy" alt="kantipur interview"/></a>-->
<!--                        <h3 class="major">Live interview on National Television</h3>-->
<!--                        <p>-->
<!--                            We are honored to have been given the opportunity by Kantipur Television to speak about our-->
<!--                            project on national TV after winning the national hackathon.-->
<!--                            Our team, The Vision Architects, competed in the E-Governance category with a project aimed-->
<!--                            at automating the current driving license system using computer vision. As the-->
<!--                            team leader, I am grateful for the chance to share our ideas and experiences on national-->
<!--                            television.</p>-->
<!--                        <a href="https://www.youtube.com/watch?v=6BYRCFqEbyg" target="_blank" class="special">YouTube</a>-->
<!--                    </article>-->
<!--                    <article>-->
<!--                        <a class="image"><img src="static/images/recent_work/google_play_store_analysis.webp" loading="lazy"-->
<!--                                              alt="google play store analysis"/></a>-->
<!--                        <a class="image"><img src="static/images/recent_work/google_play_store_analysis1.webp" loading="lazy"-->
<!--                                              alt="google play store analysis"/></a>-->
<!--                        <h3 class="major">Google Play Store App Analysis</h3>-->
<!--                        &lt;!&ndash;											<p>Here, We're going to analyse a dataset on the past winners of the Nobel Prize</p>&ndash;&gt;-->
<!--                        <a href="https://github.com/Prashanna-Raj-Pandit/Analysis-of-dataset-of-Nobel-Prize-Winners" target="_blank"-->
<!--                           class="special">GitHub</a>-->
<!--                    </article>-->
<!--                    <article>-->
<!--                        <a class="image"><img src="static/images/recent_work/fb_website.webp" loading="lazy"-->
<!--                                              alt="footbalance nepal"/></a>-->
<!--                        <a class="image"><img src="static/images/recent_work/fb_website1.webp" loading="lazy"-->
<!--                                              alt="footbalance nepal"/></a>-->

<!--                        <h3 class="major">Website: FootBalance Nepal</h3>-->
<!--                        &lt;!&ndash;<p>Here, We're going to analyse a dataset on the past winners of the Nobel Prize</p>&ndash;&gt;-->
<!--                        <a href="https://footbalancenepal.onrender.com/" class="special" target="_blank">Footbalance nepal</a>-->
<!--                        <a href="https://github.com/Prashanna-Raj-Pandit/FootBalance-Nepal" target="_blank"-->
<!--                           class="special">GitHub</a>-->
<!--                    </article>-->
<!--                </section>-->
<!--                <ul class="actions">-->
<!--                    <li><a href="{{url_for('all_recent_work')}}" class="button">Browse All Projects</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </section>-->


        <section id="four" class="wrapper alt style1">
    <div class="inner">
        <h2 class="major">Recent Activities</h2>
        <section class="features">
            <article>
                <a class="image"><img src="static/images/conference.webp" loading="lazy" alt="ICT-CEEL Conference" /></a>
                <h3 class="major">Presenting at ICT-CEEL 2023</h3>
                <p>Presented our paper, “Automation of Driving License Test Using Computer Vision and Image Processing,” at the International Conference on Technologies for Computer, Electrical, Electronics & Communication (ICT-CEEL 2023), held by Khwopa Engineering College and IEEE PES from October 11–13, 2023. Received the Best Paper Award for this work.</p>
            </article>
            <article>
                <a class="image"><img src="static/images/hackathon.webp" loading="lazy" alt="All Nepal Hackathon Winner" /></a>
                <h3 class="major">Winning All Nepal Hackathon 2023</h3>
                <p>Led Vision Architects in a three-day All Nepal Hackathon in the e-Governance category. Our project automated the driving license test for four-wheelers using computer vision, enhancing efficiency for Nepal’s Department of Transport. Secured first place in the competition.</p>
            </article>
            <article>
                <a class="image"><img src="static/images/uturn.webp" loading="lazy" alt="YOLOv5 Object Detection" /></a>
                <h3 class="major">Car and Sidelight Detection with YOLOv5</h3>
                <p>Developed a custom YOLOv5 model for real-time detection of cars and sidelights, achieving 95% mAP. Integrated into the CarSight prototype for automated driving test evaluation.</p>
            </article>
            <article>
                <a class="image" href="https://www.youtube.com/watch?v=6BYRCFqEbyg"><img src="static/images/IMG_0020.jpg" loading="lazy" alt="Kantipur TV Interview" /></a>
                <h3 class="major">National TV Interview on Kantipur Television</h3>
                <p>Featured on Kantipur Television as team leader of Vision Architects after winning the All Nepal Hackathon 2023. Discussed our e-Governance project automating driving license tests with computer vision, highlighting its impact and innovation.</p>
                <a href="https://www.youtube.com/watch?v=6BYRCFqEbyg" target="_blank" class="special">Watch on YouTube</a>
            </article>
            <article>
                <a class="image"><img src="static/images/recent_work/google_play_store_analysis.webp" loading="lazy" alt="Google Play Store Analysis" /></a>
                <h3 class="major">Google Play Store App Analysis</h3>
                <p>Analyzed a dataset of Google Play Store apps using Python, Pandas, and visualization libraries (Matplotlib, Seaborn) to uncover trends in app performance and user ratings.</p>
                <a href="https://github.com/Prashanna-Raj-Pandit/Analysis-of-dataset-of-Nobel-Prize-Winners" target="_blank" class="special">View on GitHub</a>
            </article>
            <article>
                <a class="image"><img src="static/images/recent_work/fb_website.webp" loading="lazy" alt="FootBalance Nepal Website" /></a>
                <h3 class="major">Website Development: FootBalance Nepal</h3>
                <p>Designed and deployed a dynamic website for FootBalance Nepal using Flask and Jinja templating, hosted on Render. Integrated responsive design and modern UI/UX principles.</p>
                <a href="https://footbalancenepal.onrender.com/" target="_blank" class="special">Visit Site</a>
                <a href="https://github.com/Prashanna-Raj-Pandit/FootBalance-Nepal" target="_blank" class="special">View on GitHub</a>
            </article>
        </section>
        <ul class="actions">
            <li><a href="{{url_for('all_recent_work')}}" class="button">Browse All Projects</a></li>
        </ul>
    </div>
</section>

    </section>

    <!-- Footer -->
    {% include "footer.html"%}

</div>

<!-- Scripts -->
<script src="static/assets/js/jquery.min.js" defer></script>
<script src="static/assets/js/jquery.scrollex.min.js" defer></script>
<script src="static/assets/js/browser.min.js" defer></script>
<script src="static/assets/js/breakpoints.min.js" defer></script>
<script src="static/assets/js/util.js" defer></script>
<script src="static/assets/js/main.js" defer></script>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            setTimeout(function() {
                var flashMessages = document.getElementById('flash-messages');
                if (flashMessages) {
                    flashMessages.parentNode.removeChild(flashMessages);
                }
            }, 5000); // Remove after 5 seconds (5000 milliseconds)
        });




</script>



</body>
</html>