<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recent works</title>
    <link rel="stylesheet" href="static/assets/css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
<body>
<section id="four" class="wrapper alt style1">
    <div class="inner">
        <h2 class="major">Recent Projects</h2>
        <h3 class="">Data Analysis</h3>

        <section class="features">
            <article>
                <a class="image"><img src="static/images/recent_work/nobel_prize1.webp" alt=""/></a>

                <h3 class="major">Analysis of dataset of Nobel Prize Winners.</h3>
                <!--											<p>Here, We're going to analyse a dataset on the past winners of the Nobel Prize</p>-->
                <a href="https://github.com/Prashanna-Raj-Pandit/Analysis-of-dataset-of-Nobel-Prize-Winners" target="_blank"
                   class="special">GitHub</a>
            </article>
            <article>
                <a class="image"><img src="static/images/recent_work/google_play_store_analysis.webp" alt=""/></a>
                <h3 class="major">Google Play Store App Analysis</h3>
                <!--											<p>Here, We're going to analyse a dataset on the past winners of the Nobel Prize</p>-->
                <a href="https://github.com/Prashanna-Raj-Pandit/GOOGLE-PLAY-STORE-APP-ANALYSIS" target="_blank"
                   class="special">GitHub</a>
            </article>
            <article>
                <a class="image"><img src="static/images/recent_work/programming lang.webp" alt=""/></a>
                <h3 class="major">Analyse the Popularity of Different Programming Languages over Time</h3>
                <p>Looks like Python is the most popular programming language judging by the number of posts on Stack
                    Overflow! Python for the win! =)</p>
                <a href="https://github.com/Prashanna-Raj-Pandit/Analysis-of-programming-languages-" target="_blank" class="special">GitHub</a>
            </article>
            <article>
                <a class="image"><img src="static/images/recent_work/seaborn.png" alt=""/></a>
                <h3 class="major">Implementing Seaborn and Linear regression</h3>
                <p>Data source: <a href="https://www.the-numbers.com/movie/budgets">the-numbers.com</a></p>
                <a href="https://github.com/Prashanna-Raj-Pandit/Seaborn_and_Linear_Regression" target="_blank" class="special">GitHub</a>
            </article>



        </section>
        <h3>Backend and API development</h3>
        <section class="features">
            <article>
                        <a class="image"><img src="static/images/recent_work/fb_website.webp" loading="lazy"
                                              alt="footbalance nepal wensite"/></a>


                        <h3 class="major">Website: FootBalance Nepal</h3>
                        <!--<p>Here, We're going to analyse a dataset on the past winners of the Nobel Prize</p>-->
                        <a href="https://footbalancenepal.onrender.com/" class="special" target="_blank">website</a>
                        <a href="https://github.com/Prashanna-Raj-Pandit/FootBalance-Nepal" target="_blank"
                           class="special">GitHub</a>
                    </article>
            <article>
                <a class="image"><img src="static/images/recent_work/flightbot.png" alt=""/></a>
                <h3 class="major">Flight finder bot</h3>
                <p>Notify the user when the price falls below the threshold value specified by the user. API used: Tequilia, Sheety, and Twilio</a></p>
                <a href="https://github.com/Prashanna-Raj-Pandit/Flight-Finder-bot" target="_blank" class="special">GitHub</a>
            </article>
            <article>
                <a class="image"><img src="static/images/recent_work/blog_img.webp" alt=""/></a>
                <h3 class="major">Blog webapp with user authentication</h3>
                <p>Adding user authentication functionality to my blog website, enabling users to sign in and comment on
                    my blog posts.  </p>
                <a href="https://blogpost-with-user-authentication.onrender.com/" target="_blank" class="special">visit website</a>
            </article>
            <article>
                <a class="image"><img src="static/images/jsondata.webp" alt=""/></a>
                <h3 class="major">Rest API demo project</h3>
                <!--											<p> It was my first website which i built using flutter and dart.</p>-->
                <a href="https://github.com/Prashanna-Raj-Pandit/REST-API-demo-project" target="_blank" class="special">GitHub</a>
            </article>
            <article>
                <a class="image"><img src="static/images/recent_work/cookiebot.png" alt=""/></a>
                <h3 class="major">Cookie clicker Bot</h3>
                <p> </p>
                <a href="https://github.com/Prashanna-Raj-Pandit/cookie-clicker-bot" target="_blank" class="special">GitHub</a>
            </article>
            <article>
                <a class="image"><img src="static/images/website.webp" alt=""/></a>
                <h3 class="major">Flutter website</h3>
                <p> It was my first website which I built using flutter and dart.</p>
                <a href="https://prashannarajpandit-github-io.onrender.com/#/" target="_blank" class="special">visit website</a>
            </article>
        </section>
        <h3>Computer Vision and Image Processing</h3>
        <section class="features">
            <article>
                <a class="image"><img src="static/images/uturn.webp" alt=""/>

                </a>
                <h3 class="major">Car and sidelight detection by Yolov5</h3>
                <p>Real-time detection of car and side light with custom object detection model by using YOLOv5</p>
                <!--											<a href="#" class="special">Learn more</a>-->
            </article>
            <article>
                <a class="image"><img src="static/images/recent_work/colordetection.png" alt=""/>

                </a>
                <h3 class="major">realtim color detection using openCV</h3>
                <p>Real-time detection of car and side light with custom object detection model by using YOLOv5</p>
                <a href="https://github.com/Prashanna-Raj-Pandit/realtime-color-detection-openCV-python" target="_blank" class="special">GitHub</a>
            </article>
            <article>
                <a class="image"><img src="" alt=""/>

                </a>
                <h3 class="major">Document Scanner</h3>
<!--                <p>Real-time detection of car and side light with custom object detection model by using YOLOv5</p>-->
                <a href="https://github.com/Prashanna-Raj-Pandit/Computer-Vision-and-image-processing/blob/main/document_scanner.ipynb" target="_blank" class="special">GitHub</a>
            </article>
            <article>
                <a class="image"><img src="" alt=""/>

                </a>
                <h3 class="major">Edge detection</h3>
<!--                <p>Real-time detection of car and side light with custom object detection model by using YOLOv5</p>-->
                <a href="https://github.com/Prashanna-Raj-Pandit/Computer-Vision-and-image-processing/blob/main/edgedetection.ipynb" target="_blank" class="special">github</a>
            </article>
            <article>
                <a class="image"><img src="" alt=""/>

                </a>
                <h3 class="major">Face detection</h3>
<!--                <p>Real-time detection of car and side light with custom object detection model by using YOLOv5</p>-->
                <a href="https://github.com/Prashanna-Raj-Pandit/Computer-Vision-and-image-processing/blob/main/facedetection.ipynb" target="_blank" class="special">GitHub</a>
            </article>
            <article>
                <a class="image"><img src="" alt=""/>

                </a>
                <h3 class="major">Feature matching</h3>
<!--                <p>Real-time detection of car and side light with custom object detection model by using YOLOv5</p>-->
                <a href="https://github.com/Prashanna-Raj-Pandit/Computer-Vision-and-image-processing/blob/main/featurematching.ipynb" target="_blank" class="special">github</a>
            </article>
            <article>
                <a class="image"><img src="" alt=""/>

                </a>
                <h3 class="major">License Plate detection</h3>
<!--                <p>Real-time detection of car and side light with custom object detection model by using YOLOv5</p>-->
                <a href="https://github.com/Prashanna-Raj-Pandit/Computer-Vision-and-image-processing/blob/main/liscenseplate_blur.ipynb" target="_blank" class="special">GitHub</a>
            </article>
            <article>
                <a class="image"><img src="" alt=""/>

                </a>
                <h3 class="major">watersheed algorithm</h3>
<!--                <p>Real-time detection of car and side light with custom object detection model by using YOLOv5</p>-->
                <a href="https://github.com/Prashanna-Raj-Pandit/Computer-Vision-and-image-processing/blob/main/watershed_algo.ipynb" target="_blank" class="special">github</a>
            </article>
            <article>
                <a class="image"><img src="" alt=""/>

                </a>
                <h3 class="major">Contours and shape detection</h3>
<!--                <p>Real-time detection of car and side light with custom object detection model by using YOLOv5</p>-->
                <a href="https://github.com/Prashanna-Raj-Pandit/Computer-Vision-and-image-processing/blob/main/contours%26shape_detection.ipynb" target="_blank" class="special">github</a>
            </article>
            <article>
                <a class="image"><img src="" alt=""/>

                </a>
                <h3 class="major">Video processing</h3>
<!--                <p>Real-time detection of car and side light with custom object detection model by using YOLOv5</p>-->
                <a href="https://github.com/Prashanna-Raj-Pandit/Computer-Vision-and-image-processing/blob/main/videoprocessing.ipynb" target="_blank" class="special">github</a>
            </article>

        </section>

        <h3>Ui/Ux</h3>
        <section class="features">
            <article>
                <a class="image"><img src="static/images/bidhya.png" alt=""/></a>
                <h3 class="major">UI Design</h3>
                <!--											<p> It was my first website which i built using flutter and dart.</p>-->
                <!--											<a href="https://prashannarajpandit-github-io.onrender.com/#/" class="special">visit website</a>-->
            </article>
            <article>
                <a class="image"><img src="static/images/tailor.png" alt=""/></a>
                <h3 class="major">UI Design</h3>
                <!--											<p> It was my first website which I built using flutter and dart.</p>-->
                <!--											<a href="https://prashannarajpandit-github-io.onrender.com/#/" class="special">visit website</a>-->
            </article>
        </section>

    </div>
</section>

{% include "footer.html"%}
</body>
</html>

