<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recent works</title>
    <link rel="stylesheet" href="static/assets/css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
<body>
<section id="four" class="wrapper alt style1">
    <div class="inner">
        <h2 class="major">Recent Activities</h2>
        <section class="features">
            <article>
                <a class="image"><img src="static/images/recent_work/nobel_prize1.png" alt=""/></a>
                <a class="image"><img src="static/images/recent_work/nobel_prize2.png" alt=""/></a>

                <h3 class="major">Analysis of dataset of Nobel Prize Winners.</h3>
                <!--											<p>Here, We're going to analyse a dataset on the past winners of the Nobel Prize</p>-->
                <a href="https://github.com/Prashanna-Raj-Pandit/Analysis-of-dataset-of-Nobel-Prize-Winners"
                   class="special">GitHub</a>
            </article>
            <article>
                <a class="image"><img src="static/images/recent_work/google_play_store_analysis.png" alt=""/></a>
                <a class="image"><img src="static/images/recent_work/google_play_store_analysis1.png" alt=""/></a>
                <h3 class="major">Google Play Store App Analysis</h3>
                <!--											<p>Here, We're going to analyse a dataset on the past winners of the Nobel Prize</p>-->
                <a href="https://github.com/Prashanna-Raj-Pandit/Analysis-of-dataset-of-Nobel-Prize-Winners"
                   class="special">GitHub</a>
            </article>
            <article>
                <a class="image"><img src="static/images/recent_work/blog_img.png" alt=""/></a>
                <h3 class="major">Blog webapp with user authentication</h3>
                <p>Adding user authentication functionality to my blog website, enabling users to sign in and comment on
                    my blog posts. This enhancement will improve user engagement and create a more interactive
                    experience for visitors. </p>
                <a href="https://blogpost-with-user-authentication.onrender.com/" class="special">visit website</a>
            </article>

            <article>
                <a class="image"><img src="static/images/jsondata.png" alt=""/></a>
                <h3 class="major">Rest API demo project</h3>
                <!--											<p> It was my first website which i built using flutter and dart.</p>-->
                <a href="https://github.com/Prashanna-Raj-Pandit/REST-API-demo-project" class="special">GitHub</a>
            </article>
            <article>
                <a class="image"><img src="static/images/recent_work/programming lang.png" alt=""/></a>
                <h3 class="major">Analyse the Popularity of Different Programming Languages over Time</h3>
                <p>Looks like Python is the most popular programming language judging by the number of posts on Stack
                    Overflow! Python for the win! =)</p>
                <a href="" class="special">GitHub</a>
            </article>
            <article>
                <a class="image"><img src="static/images/conference.jpg" alt=""/></a>
                <h3 class="major">Attending Conference</h3>
                <p>Presenting our paper, “Automation of Driving License Test Using Computer Vision and Image Processing”
                    at the esteemed International Conference on Technologies for Computer, Electrical, Electronics and
                    Communication (ICT-CEEL 2023), organized by Khwopa Engineering College and Khwopa College of
                    Engineering in collaboration with IEEE and IEEE PES, held from 11th to 13th October.</p>
                <!--											<a href="#" class="special">Learn more</a>-->
            </article>
            <article>
                <a class="image"><img src="static/images/hackathon.jpg" alt=""/></a>
                <h3 class="major">attending hackathon</h3>
                <p>Our team, Vision Architects, attended a three-day All Nepal Hackathon in the e-governance category.
                    Our project focused on improving the efficiency of the Department of Transport of Nepal by
                    automating the driving license test for four-wheelers by using Computer Vision.</p>

                <!--											<a href="#" class="special">Learn more</a>-->
            </article>
            <article>
                <a class="image" href="https://www.youtube.com/watch?v=6BYRCFqEbyg"><img
                        src="static/images/IMG_0020.jpg" alt=""/></a>
                <h3 class="major">Live interview on National Television</h3>
                <p>
                    We are honored to have been given the opportunity by Kantipur Television to speak about our
                    project on national TV after winning the national hackathon.
                    Our team, The Vision Architects, competed in the E-Governance category with a project aimed
                    at automating the current driving license system using computer vision. As the
                    team leader, I am grateful for the chance to share our ideas and experiences on national
                    television.</p>
                <a href="https://www.youtube.com/watch?v=6BYRCFqEbyg" class="special">YouTube</a>
            </article>
            <article>
                <a class="image"><img src="static/images/uturn.jpg" alt=""/>

                </a>
                <h3 class="major">Car and sidelight detection by Yolov5</h3>
                <p>Real-time detection of car and side light with custom object detection model by using YOLOv5</p>
                <!--											<a href="#" class="special">Learn more</a>-->
            </article>
            <article>
                <a class="image"><img src="static/images/website.png" alt=""/></a>
                <h3 class="major">Flutter website</h3>
                <p> It was my first website which I built using flutter and dart.</p>
                <a href="https://prashannarajpandit-github-io.onrender.com/#/" class="special">visit website</a>
            </article>


        </section>
        <h3>Ui/Ux</h3>
        <section class="features">
            <article>
                <a class="image"><img src="static/images/bidhya.png" alt=""/></a>
                <h3 class="major">UI Design</h3>
                <!--											<p> It was my first website which i built using flutter and dart.</p>-->
                <!--											<a href="https://prashannarajpandit-github-io.onrender.com/#/" class="special">visit website</a>-->
            </article>
            <article>
                <a class="image"><img src="static/images/tailor.png" alt=""/></a>
                <h3 class="major">UI Design</h3>
                <!--											<p> It was my first website which I built using flutter and dart.</p>-->
                <!--											<a href="https://prashannarajpandit-github-io.onrender.com/#/" class="special">visit website</a>-->
            </article>
        </section>

    </div>
</section>

{% include "footer.html"%}
</body>
</html>