<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recent works</title>
	<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
                            <section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Recent Works</h2>
									<section class="features">
										<article>
											<a class="image"><img src="static/images/conference.jpg" alt="" /></a>
											<h3 class="major">Attending Conference</h3>
											<p>Presenting our paper, “Automation of Driving License Test Using Computer Vision and Image Processing” at the esteemed International Conference on Technologies for Computer, Electrical, Electronics and Communication (ICT-CEEL 2023), organized by Khwopa Engineering College and Khwopa College of Engineering in collaboration with IEEE and IEEE PES, held from 11th to 13th October.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a class="image"><img src="static/images/hackathon.jpg" alt="" /></a>
											<h3 class="major">attending hackathon</h3>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a  class="image"><img src="static/images/uturn.jpg" alt="" />

											</a>
											<h3 class="major">Car and sidelight detection by Yolov5</h3>
											<p>Real-time detection of car and side light with custom object detection model by using YOLOv5</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a  class="image"><img src="static/images/website.png" alt="" /></a>
											<h3 class="major">Flutter website</h3>
											<p> It was my first website which i built using flutter and dart.</p>
											<a href="https://prashannarajpandit-github-io.onrender.com/#/" class="special">visit website</a>
										</article>
                                        <article>
											<a  class="image"><img src="static/images/website.png" alt="" /></a>
											<h3 class="major">Flutter website</h3>
											<p> It was my first website which i built using flutter and dart.</p>
											<a href="https://prashannarajpandit-github-io.onrender.com/#/" class="special">visit website</a>
										</article>
                                        <article>
											<a  class="image"><img src="static/images/website.png" alt="" /></a>
											<h3 class="major">Flutter website</h3>
											<p> It was my first website which i built using flutter and dart.</p>
											<a href="https://prashannarajpandit-github-io.onrender.com/#/" class="special">visit website</a>
										</article>
                                        <article>
											<a  class="image"><img src="static/images/website.png" alt="" /></a>
											<h3 class="major">Flutter website</h3>
											<p> It was my first website which i built using flutter and dart.</p>
											<a href="https://prashannarajpandit-github-io.onrender.com/#/" class="special">visit website</a>
										</article>
                                        <article>
											<a  class="image"><img src="static/images/website.png" alt="" /></a>
											<h3 class="major">Flutter website</h3>
											<p> It was my first website which i built using flutter and dart.</p>
											<a href="https://prashannarajpandit-github-io.onrender.com/#/" class="special">visit website</a>
										</article>
									</section>

								</div>
							</section>
</body>
</html>