<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>skills</title>
	<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<section id="one" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="static/images/skils.webp" alt="" /></a>
									<div class="content">
										<h2 class="major">Skill and Interest Areas</h2>

										<ul> <h3>General Computer and Mathematical Proficiency</h3>
                                            <p>Solid grasp of general computer and architecture knowledge acquired during undergraduate engineering
studies; Microprocessor (8085 & 8086), Computer Organization and Architecture, Operating Systems,
Computer Networks, Computer Graphics, Data Structure and Algorithms, Engin</p>
											<h3>Advance Computer Science Areas</h3><p>Artificial Intelligence, Big Data, Data mining,Cybersecurity
</p>
                                            <h3>Programming languages</h3>
											<div class="programming-images">
												<span class="programming"><img src="static/images/python1.png" height="40px" width="40px"></span>
												<span class="programming"><img src="static/images/c1.png" height="45px" width="45px"></span>
												<span class="programming"><img src="static/images/cplus.png" height="40px" width="40px"></span>
												<span class="programming"><img src="static/images/flutter.png" height="40px" width="40px"></span>
												<span class="programming"><img src="static/images/yolo.png" height="40px" width="40px"></span>



											</div>


										</ul>

									</div>
								</div>
							</section>

</body>
</html>